h1 { 
  text-align: center;
  margin-top: 2%;
  font-family: 'Oxanium';
  color: black;
}

h3{
  font-family: 'Oxanium';
  color: black;
  text-align: center;

}

body {
  background: rgb(0,240,130);
background: linear-gradient(90deg, rgba(0,240,130,1) 0%, rgba(0,172,29,1) 55%, rgba(255,255,255,1) 100%);
}