h1 { 
  text-align: center;
  margin-top: 2%;
  font-family: 'Oxanium';
  color: black;
}

h3{
  font-family: 'Oxanium';
  color: black;
  text-align: center;

}

body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,28,1) 55%, rgba(29,7,1,1) 100%);


}